<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>udemy1</title>
  

</head>
<body>
<!-- partial:index.partial.html -->
</form><!-- Vueで指定された"app"要素、この中でのみVueが有効 -->
<head>
  <style>
    .active{
      border:1px solid red;
    }
    .text-danger{
      color: red;
    }
  </style>
</head>
<div style="color:blue; font-size:20px">styleテスト</dv>
<div class="active text-danger">classテスト</div>
<button id="clickEvent" onClick="btnClicked()">クリックしてね</button>
<form>
  <button type="submit">送信</button>
</form>
<div id="app">
  <button @click="btnClicked">クリックしてね</button>
  <div :style="{fontSize:fontSize}">Styleテスト</div>
  <div :class="{active:isActive}">classのテスト</div>
  <div v-show="isDisplay">表示</div>
  <div v-show="!isDisplay">falseになってます</div>
  <div v-if="isDisplay">ifで表示</div>
  <div v-if="signal === 'red'">赤</div>
  <div v-else-if="signal === 'yellow'">黄</div>
  <div v-else-if="signal === 'blue'">青</div>
  <div v-else>赤青黄ではありません</div>
  <ul>
    <li v-for="member in members">
      {{ member }}
    </li>
  </ul>
  <ul>
    <li v-for="(member,index) in members">
      {{ index }} : {{ member }}
    </li>
  </ul>
  <ul>
    <li v-for="value in book">
      {{ value }}
    </li>
  </ul>
  <ul>
    <li v-for="(value,key) in book">
      {{ value }} : {{ key }}
    </li>
  </ul>
  <ul>
    <li v-for="(value,key,index) in book">
      {{ value }} : {{ key }} : {{ index }} 
    </li>
  </ul>
  
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>著者名</th>
        <th>url</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="book in books" :key="book.id">
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.url }}</td>
      </tr>
    </tbody>
  </table>
  <div v-text="test"></div>
  <div v-html="test"></div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
